

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;;
}

#container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: "sidebar header" 1fr
                    "sidebar content"  4fr 
                    / 1fr 5fr;

}

.header {
    grid-area: header;
    background-color: white;
    display: grid;
    grid-template: 4fr 5fr / 1fr 400px;
    place-items: center;
    padding: 25px 0;
    row-gap: 25px;
}

.search {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-left: 50px;
}

.search-icon {
    width: 25px;
}

.search-bar {
    flex: 1;
    border-radius: 20px;
    border: none;
    background-color: lightgrey;
    height: 2.5em;
    padding: 10px;
}

.account {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: flex-end;
    width: 100%;
    padding-right: 75px;
}

.notification-icon {
    width: 30px;
}

.profile-picture {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.username {
    font-weight: bold;
    font-size: 25px;
    
}

.welcome {
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: start;
    justify-content: start;
    width: 100%;
    padding-left: 50px;
    gap: 10px 15px;
}

.welcome>.profile-picture {
    width: 75px;
    grid-row: span 2;
}

.welcome-message {
    place-self: end start;
    font-weight: bold;
}

.welcome>.username {
    font-size: 30px;
}

.sidebar {
    grid-area: sidebar;
    background-color: aqua;
    display: grid;
    grid-auto-rows: min-content;
    gap: 50px;
    place-items: center;
}

.content {
    grid-area: content;
    background-color: grey;
    display: grid;
    grid-template: 1fr 1fr / 1fr 400px;
    place-items: center;

}

.projects {
    grid-row: span 2;
}