* {
    box-sizing: border-box;
}

#container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: "sidebar header" 1fr
                    "sidebar content"  4fr 
                    / 1fr 5fr;

}

.header {
    grid-area: header;
    background-color: white;
    display: grid;
    grid-template: 4fr 5fr / 1fr 600px;
    place-items: center;
}

.search {
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 25px;
}

.search-icon {
    width: 25px;
}

.search-bar {
    flex: 1;
    border-radius: 20px;
    border: none;
    background-color: lightgrey;
    height: 2.5em;
    padding: 10px;
}

.sidebar {
    grid-area: sidebar;
    background-color: aqua;
    display: grid;
    grid-auto-rows: min-content;
    gap: 50px;
    place-items: center;
}

.content {
    grid-area: content;
    background-color: grey;
    display: grid;
    grid-template: 1fr 1fr / 1fr 400px;
    place-items: center;

}

.projects {
    grid-row: span 2;
}